name: Download
permissions: {}
on:
  pull_request:
    paths:
      - 'download/**'
      - .github/workflows/download.yml
  push:
    # Only include top-level branches, ignore branches like dependabot/*
    branches:
      - '*'
    paths:
      - 'download/**'
      - .github/workflows/download.yml
  workflow_dispatch:
    inputs:
      debug:
        description: Enable debug
        type: boolean
        default: false
jobs:
  download:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ matrix.os }}
          path: download/action.yml
      - uses: ./download
      - run: test -e ${{ matrix.os }}.zip
      - uses: ./nix
        if: ${{ inputs.debug && always() }}
        with:
          debug: true
