name: Download
permissions: {}
on:
  pull_request:
    paths:
      - 'download/**'
      - .github/workflows/download.yml
  push:
    # Only include top-level branches, ignore branches like dependabot/*
    branches:
      - '*'
    paths:
      - 'download/**'
      - .github/workflows/download.yml
  workflow_dispatch:
    inputs:
      debug:
        description: Enable debug
        type: boolean
        default: false
jobs:
  download:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ matrix.os }}
          path: download/action.yml
      - uses: ./download
      - run: test -e ${{ matrix.os }}.zip
      - uses: ./nix
        if: ${{ inputs.debug && always() }}
        with:
          debug: true
