name: Nix
permissions: {}
concurrency:
  # Concurrency is not possible because of clear_cache and nix_with_cache
  group: nix
on:
  pull_request:
    paths:
      - 'nix/**'
      - .github/workflows/nix.yml
  push:
    # Only include top-level branches, ignore branches like dependabot/*
    branches:
      - '*'
    paths:
      - 'nix/**'
      - .github/workflows/nix.yml
  workflow_dispatch:
    inputs:
      debug:
        description: Enable debug
        type: boolean
        default: false
      os:
        description: OS to run
        type: choice
        options: 
          - linux
          - darwin
          - aarch64-linux
          - x86_64-linux
          - aarch64-darwin
          - x86_64-darwin
          - all
        default: all
      install_action:
        description: Install action to use
        type: choice
        options: 
          - cachix
          - nixbuild
          - all
        default: nixbuild
      btrfs:
        description: Enable BTRFS RAID0 on Linux
        type: boolean
        default: false
jobs:
  clear_cache:
    if: ${{ ! inputs.debug }}
    permissions:
      actions: write
    runs-on: ubuntu-latest
    steps:
      - name: Clear cache
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh --repo "$GITHUB_REPOSITORY" cache list --key nix- --json id --jq '.[].id' | while read -r id
          do
            gh --repo "$GITHUB_REPOSITORY" cache delete "$id"
          done
  nix:
    needs: clear_cache
    if: ${{ always() && !failure() && !cancelled() }}
    strategy:
      fail-fast: false
      matrix:
        os: >-
          ${{ fromJSON(
            inputs.os == 'linux' && '["ubuntu-latest", "ubuntu-24.04-arm"]' || (
            inputs.os == 'darwin' && '["macos-latest", "macos-15-intel"]' || (
            inputs.os == 'aarch64-linux' && '["ubuntu-24.04-arm"]' || (
            inputs.os == 'x86_64-linux' && '["ubuntu-latest"]' || (
            inputs.os == 'aarch64-darwin' && '["macos-latest"]' || (
            inputs.os == 'x86_64-darwin' && '["macos-15-intel"]' || (
            '["ubuntu-latest", "ubuntu-24.04-arm", "macos-latest", "macos-15-intel"]'
          ))))))) }}
        install_action: >-
          ${{ fromJSON(
            inputs.install_action == 'cachix' && '[ "cachix" ]' || (
            inputs.install_action == 'nixbuild' && '[ "nixbuild" ]' || (
            '[ "cachix", "nixbuild" ]'
          ))) }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: ./nix
        with:
          btrfs: ${{ inputs.btrfs }}
          clean: ${{ inputs.btrfs }}
          debug: ${{ inputs.debug }}
          install_action: ${{ matrix.install_action }}
      - name: Install tools for debug
        run: |
          nix-env -f '<nixpkgs>' -iA cloudflared tmux
      - uses: ./nix/post
  nix_with_cache:
    if: ${{ ! inputs.debug }}
    needs: nix
    strategy:
      fail-fast: false
      matrix:
        os: >-
          ${{ fromJSON(
            inputs.os == 'linux' && '["ubuntu-latest", "ubuntu-24.04-arm"]' || (
            inputs.os == 'darwin' && '["macos-latest", "macos-15-intel"]' || (
            inputs.os == 'aarch64-linux' && '["ubuntu-24.04-arm"]' || (
            inputs.os == 'x86_64-linux' && '["ubuntu-latest"]' || (
            inputs.os == 'aarch64-darwin' && '["macos-latest"]' || (
            inputs.os == 'x86_64-darwin' && '["macos-15-intel"]' || (
            '["ubuntu-latest", "ubuntu-24.04-arm", "macos-latest", "macos-15-intel"]'
          ))))))) }}
        install_action: >-
          ${{ fromJSON(
            inputs.install_action == 'cachix' && '[ "cachix" ]' || (
            inputs.install_action == 'nixbuild' && '[ "nixbuild" ]' || (
            '[ "cachix", "nixbuild" ]'
          ))) }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: ./nix
        with:
          install_action: ${{ matrix.install_action }}
      - name: Install tools for debug
        run: |
          nix-env -f '<nixpkgs>' -iA cloudflared tmux
      - name: Test if restore from cache success
        run: |
          [ -e /nix/store.bak ] && [ ! -e /nix/store.failed ]
      - uses: ./nix/post
      - name: Test if cache does not need update
        run: |
          [ "$CACHE_NEED_UPDATE" != yes ]
  nix_with_btrfs:
    if: ${{ ! inputs.debug }}
    needs: nix
    strategy:
      fail-fast: false
      matrix:
        os: >-
          ${{ fromJSON(
            inputs.os == 'linux' && '["ubuntu-latest", "ubuntu-24.04-arm"]' || (
            inputs.os == 'darwin' && '["macos-latest", "macos-15-intel"]' || (
            inputs.os == 'aarch64-linux' && '["ubuntu-24.04-arm"]' || (
            inputs.os == 'x86_64-linux' && '["ubuntu-latest"]' || (
            inputs.os == 'aarch64-darwin' && '["macos-latest"]' || (
            inputs.os == 'x86_64-darwin' && '["macos-15-intel"]' || (
            '["ubuntu-latest", "ubuntu-24.04-arm", "macos-latest", "macos-15-intel"]'
          ))))))) }}
        install_action: >-
          ${{ fromJSON(
            inputs.install_action == 'cachix' && '[ "cachix" ]' || (
            inputs.install_action == 'nixbuild' && '[ "nixbuild" ]' || (
            '[ "cachix", "nixbuild" ]'
          ))) }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: ./nix
        with:
          btrfs: true
          clean: true
          install_action: ${{ matrix.install_action }}
