name: Nixpkgs Review
permissions: {}
on:
  workflow_dispatch:
    inputs:
      debug:
        description: Enable debug
        type: boolean
        default: false
      os:
        description: OS
        type: choice
        options: 
          - linux
          - darwin
          - aarch64-linux
          - x86_64-linux
          - aarch64-darwin
          - x86_64-darwin
          - all
        default: all
      pr:
        description: Pull request to review
        type: string
        required: true
      install_action:
        description: Use cachix/install-nix-action or nixbuild/nix-quick-install-action
        type: choice
        options: 
          - cachix
          - nixbuild
        default: cachix
      btrfs:
        description: Clean up disk and enable BTRFS RAID0 on Linux to get max disk space
        type: boolean
        default: false
      shallow:
        description: Shallow clone nixpkgs
        type: boolean
        default: true
run-name: Nixpkgs Review ${{ inputs.pr }}
jobs:
  nixpkgs-review:
    strategy:
      fail-fast: false
      matrix:
        os: >-
          ${{ fromJSON(
            inputs.os == 'linux' && '["ubuntu-latest", "ubuntu-24.04-arm"]' || (
            inputs.os == 'darwin' && '["macos-latest", "macos-15-intel"]' || (
            inputs.os == 'aarch64-linux' && '["ubuntu-24.04-arm"]' || (
            inputs.os == 'x86_64-linux' && '["ubuntu-latest"]' || (
            inputs.os == 'aarch64-darwin' && '["macos-latest"]' || (
            inputs.os == 'x86_64-darwin' && '["macos-15-intel"]' || (
            '["ubuntu-latest", "ubuntu-24.04-arm", "macos-latest", "macos-15-intel"]'
          ))))))) }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: ./nix
        with:
          key: nixpkgs-review
          install_action: ${{ inputs.install_action }}
          clean: ${{ inputs.btrfs }}
          btrfs: ${{ inputs.btrfs }}
      - name: Install tools
        run: |
          nix-env -f '<nixpkgs>' -iA cloudflared tmux
          nix build --out-link /tmp/nixpkgs-review github:Mic92/nixpkgs-review
          nix-env -i /tmp/nixpkgs-review
      - uses: ./nix/post
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          repository: NixOS/nixpkgs
          path: nixpkgs
          fetch-depth: ${{ inputs.shallow && 1 || 0 }}
      - uses: ./nix/debug
        if: ${{ inputs.debug }}
      - name: Run nixpkgs-review pr ${{ inputs.pr }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PULL_REQUEST: ${{ inputs.pr }}
        run: |
          echo "CURRENT_SYSTEM=$(nix eval --impure --raw --expr builtins.currentSystem)" >>"$GITHUB_ENV"
          git config --global user.name 'github-actions[bot]'
          git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
          cd nixpkgs
          IFS=' ' read -r -a args <<<"$PULL_REQUEST"
          nixpkgs-review pr --no-shell --print-result "${args[@]}" || true
          test -e ~/.cache/nixpkgs-review/*/report.md
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: report-${{ env.CURRENT_SYSTEM }}
          path: |
            ~/.cache/nixpkgs-review/
            !~/.cache/nixpkgs-review/*/results/
  summary:
    # For displaying `Final summary` in `Summary`
    name: Final
    needs: nixpkgs-review
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      - name: Summary
        env:
          PULL_REQUEST: ${{ inputs.pr }}
        run: |
          PR=${PULL_REQUEST##*/}
          PR="${PR%% *}"

          generate_logs() {
            reports=(report-*-linux/*/report.json)
            reports+=(report-*-darwin/*/report.json)
            for report in "${reports[@]}"; do
              system=$(jq -r '.systems[0]' "$report")
              mapfile -t packages < <(jq -r '.result | .[].failed | .[]' "$report")
              if [ "${#packages[@]}" -gt 0 ]; then
                cat <<EOF

          ---
          ### $system

          EOF
                for package in "${packages[@]}"; do
                  log="${report%/*}/logs/${package}-${system}.log"
                  if [ -s "$log" ]; then
                    cat <<EOF
          <details>
            <summary>:x: $package</summary>

          \`\`\`\`
          \`\`\`
          EOF
                    tail -n 50 "$log" | sed -e $'s/\x1b\[[0-9;]*m//g'
                    cat <<EOF
          \`\`\`
          \`\`\`\`
          </details>
          EOF
                  fi
                done
              fi
            done
          }

          generate_summary() {
            reports=(report-*-linux/*/report.md)
            reports+=(report-*-darwin/*/report.md)
            cat "${reports[0]}"
            sed -s -n -e '/---/,$p' -e '1i\
          ' "${reports[@]:1}" 2>/dev/null
          }

          summary=$(generate_summary)

          cat >> "$GITHUB_STEP_SUMMARY" <<EOF
          ## [Nixpkgs #${PR}](https://github.com/NixOS/nixpkgs/pull/${PR})

          $summary

          ---
          \`\`\`
          $summary
          \`\`\`
          EOF

          generate_logs >> "$GITHUB_STEP_SUMMARY"
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: report-all
          path: report-*
